{% extends 'web/layout.html.twig' %}

{% block content %}
  {% if error %} 
  <div class="error">
    {{error}}
  </div>
  {% elseif file %} 
   <div class="success">
    Vous pouvez télécharger votre fichier : <a href="download/{{ file }}">Cliquez ICI</a>
  </div>
  {% endif %}
  {% if debug %}<div class="container"><h4>Debug</h4><pre style="height:200px;overflow:auto;background-color:black;color:white;">{{ debug }}</pre></div>{% endif %}
  <div class="container">
    <h3>Convertisseur en ligne de fichier WAV en MP3</h3>
    <form method="post" enctype="multipart/form-data">
    <small><strong>Commande de conversion :</strong>lame --preset standard votre_fichier.wav output.mp3</small>
    <div class="file-input">
      <label id="drop-zone">Glissez un fichier WAV ici ou cliquez pour le sélectionner</label>
      <input type="file" id="file" name="fichier_wav" accept=".wav" required>
    </div>
      <button type="submit">Convertir en MP3</button>
    </form>
  </div>
{% endblock %}
