<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion WAV vers MP3</title>
    <link rel="icon" href="favicon.ico?v=audio" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container container-header">
        <img src="/logo.png">
        <h1>AUDIO WAV CONVERTER ONLINE</h1>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>